/** Global colors **/

:root {
	--background-color: #fefefe;
	--background-color-secondary: #f5f5f5;
	--text-color: #222;
	--text-color-secondary: #666;
	--border-color: #999;
	--border-color-focus: #666;
	--accent-color-warning: #f60;
	--accent-color-error: #f00;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #323232;
		--background-color-secondary: #262626;
		--text-color: #ccc;
		--text-color-secondary: #999;
		--border-color: #222;
		--border-color-focus: #111;
		--accent-color-warning: #df4f11;
		--accent-color-error: #df1111;
	}
}

/** Page style **/

body {
	font: normal 11pt "Open Sans",Calibri,sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	color: var(--text-color);
	background: var(--background-color);
}

main {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

/** Form style **/

.contact-form {
	margin: 2em 1em;
}

.form-style {
	width: 100%;
}

.form-style ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.form-style li {
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}

.form-style label {
	font-size: 0.8em;
	text-transform: uppercase;
	color: var(--text-color-secondary);
}

.form-style .field-style {
	border: 1px solid var(--border-color);
	background-color: var(--background-color);
	color: var(--text-color);
	box-sizing: border-box;
	margin-top: 2px;
	padding: 8px;
	outline: none;
	font: inherit;
}

.form-style .field-style:focus {
	border-color: var(--border-color-focus);
}

.form-style .field-full {
	width: 100%;
}

.form-style textarea {
	font: inherit;
}

.form-style button.button-style {
	background-color: var(--background-color-secondary);
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	width: 100%;
}

.form-style button:disabled,
.form-style button[disabled] {
	cursor: default;
	color: var(--text-color-secondary);
}

/** The phone field is part of the spam protection. **/

.form-style .phone {
	display: none;
}

/** Captcha styling. **/

.contact-form .captcha {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

.contact-form .question {
	margin-right: 1em;
}

/** Submit status **/

.contact-form .message {
	text-align: center;
}

.contact-form .error {
	color: var(--accent-color-error);
}

.contact-form .warning {
	color: var(--accent-color-warning);
}
